body {
    font-family: 'Poppins', sans-serif;
}

main {
    color: rgb(19, 18, 18);
    min-height: 100vh;
    background-color: #DADFE8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex {
    
    display: flex;
    gap: 30px ; /* espaçamento entre elementos */
    padding: 30px 0;

}